In [2]:
!unzip data.csv.zip

Archive:  data.csv.zip
  inflating: data.csv

In [3]:
import numpy as np
import pandas as pd

In [4]:
r = 102303761
ar = 0.05 * (r % 7)
br = 0.3 * ((r % 5) + 1)

In [8]:
df=pd.read_csv('/content/data.csv', encoding='latin1')

/tmp/ipython-input-791111619.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/data.csv', encoding='latin1')

In [9]:
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [11]:
x = df['no2'].dropna().values

In [13]:
x

array([17.4,  7. , 28.5, ..., 45. , 50. , 46. ])

In [14]:
z = x + ar * np.sin(br * x)
mu = np.mean(z)
sigma2 = np.mean((z - mu)**2)

In [15]:
lam = 1 / (2 * sigma2)
c = 1 / np.sqrt(2 * np.pi * sigma2)

print("lambda =", lam)
print("mu =", mu)
print("c =", c)

lambda = 0.001460436525489001
mu = 25.809622897811263
c = 0.021560876239314915